<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
<div class="content">
    <div class="body">
        <div class="header">
            {% block header %}
                <div class="time">
                    <p>
                        {{ time }}
                    </p>
                </div>
            {% endblock %}
        </div>
        <div class="main">
            {% include content_template_name %}
        </div>
        <footer class="footer">
            {% block footer %}
                <p class="cop">© 2024 Все права защищены.</p>
            {% endblock %}
        </footer>
    </div>
    <div class="side_bar">
        {% block sidebar %}
            <nav class="menu">
                <a class="link" href="/">Главная</a>
                <a class="link" href="/info">Информация о сайте</a>
                <a class="link" href="/about">О нас</a>
                <a class="link" href="/user">Пользователи</a>
            </nav>
        {% endblock %}
    </div>
</div>
</body>
</html>